<html>
<head>
    <title>HackMIT API Directory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://hackmit.org/assets/images/favicon.png">

</head>
<body>
    <header>
        API Directory
    </header>

    <div class="stripe">&nbsp;</div>

    <section id="search">
        {{!-- I am looking for <input id="search-bar" type="text" placeholder="everything"> </input> --}}
        <div class="switch">
          <label>
            All
            <input type="checkbox" id="apiOnly">
            <span class="lever"></span>
            API only
          </label>
        </div>
    </section>


    <section id="apis">
        {{#each apis}}
          {{>api}}
        {{/each}}
    </section>

    <script src="main.min.js"></script>
</body>
</html>


